# General
SECRET_KEY=
ALLOWED_HOSTS=

DEBUG=

DATABASE_ENGINE=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=


# Email
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=



# SendGrid
LOCAL_DOMAIN=
sendgrid_host_email=
SENDGRID_API_KEY=
FORGOT_PASSWORD_TEMPLATE_ID=

# Celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
SCHEDULER_FOR_RETRY_EMAIL=


EMAIL_LIMIT=
