{% load static %}
<html>
<head>
    <title>Email Sender System</title>
    <link href="{% static 'css/home.css' %}" rel="stylesheet" />

</head>
<body>
<div class="nav_container">
    <div class="logo">
      <img src="https://www.evitalrx.in/webroot/images/evital-images/logo.png"/>
    </div>
    <div class="menu">
      <ul>
                      <li><a href="#">About</a></li>
                      <li><a href="#">User</a></li>
                      <li><a href="#">Schedules</a></li>
                  </ul>
    </div>
    <div class="search">
    </div>
    
</div>
</body>
</html>